$background-color: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(189, 33, 208, 1) 35%,
  rgba(0, 212, 255, 1) 100%
);

$main-part-background-color: whitesmoke;
$box-shadow: -4px 2px 11px 8px rgba(34, 60, 80, 0.2);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: $background-color;
}

.main {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-color: $main-part-background-color;
  box-shadow: $box-shadow;
  padding: 10px;

  li {
    display: flex;
    justify-content: space-between;
  }
}
