.main {
  form {
    display: flex;
    justify-content: space-between;
    .add-task-button {
      border: none;
      border-radius: 10px;
      color: white;
      background-color: #00a600;
      padding: 5px;
      cursor: pointer;
    }
    .add-task-button:hover {
      background-color: #008000;
    }
    input {
      padding: 5px;
      border-radius: 10px;
      border: 2px solid black;
    }
  }
  .task-list {
    ul {
        list-style: none;
    }
  }
}
